{% load sass_tags %} {% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% sass_src 'Demo.scss' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/bootstrap.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Machine Learning</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <br />
    <div class="d-flex">
      <div class="col-2">
        <div class="custom-file">
          <div class="jumbotron">
            <h1>Data upload django</h1>
            {% block replace %}
            <form method="post" enctype="multipart/form-data">
              <!-- Very Important csrf Token -->
              {% csrf_token %}
              <table>
                {{ form.as_table }}
              </table>
              <input
                type="submit"
                class="btn btn-primary btn-lg"
                name="register"
              />
            </form>
            <button class="btn button">Download</button>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
