{% extends 'pages/layout/create.html' %} {% block replace %}
<center>
  <div class="jumbotron">
    <h1 class="display-4">
      Welcome to DataFlair<br />Hello {{ user_pr.fname }}
    </h1>
    <p class="lead">its an awesome profile picture</p>
    <hr class="my-4" />
    <img
      src="{{ user_pr.display_picture.url }}"
      class="image_responsive"
      height="100px"
      width="100px"
    />
    <p>
      {{ user_pr.display_picture.url }}<br />
      You have learned some awesome technologies like {{ user_pr.technologies }}
    </p>
  </div>
</center>
{% endblock %}
