{% load sass_tags %} {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="{% sass_src 'Demo.scss' %}" rel="stylesheet" type="text/css"/>
    <link
            href="{% static 'css/bootstrap.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Machine Learning</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
                >
            </li>
        </ul>
    </div>
</nav>
<br/>
<div>

    <div class="d-flex">
        <div class="col-2">
            <div class="custom-file">
                <input
                        type="file"
                        class="custom-file-input"
                        name="myfile"
                        id="customFile"
                        multiple
                />
                {% for foo in multifoto %} {% if foo %}
                    <img class="image_size" src="{% static 'img/' %}{{ foo }}" alt=""/>
                    <p>
                        File uploaded at:
                        <a href="{{ foo }}">{{ foo }}</a>
                    </p>
                {% endif %} {% endfor %}
                <label class="custom-file-label" for="customFile"
                >Choose file</label
                >
            </div>
        </div>
        <div class="col-2">
            <div class="custom-file">
                <input
                        type="file"
                        class="custom-file-input"
                        name="video_datas"
                        id="customFile_video"
                />

                {% if video_data %}
                    <img class="image-upload" src="{{ video_data }}" alt=""/>
                    <p>
                        File uploaded at:
                        <a href="{{ video_data }}">{{ video_data }}</a>
                    </p>
                {% endif %}
                <label class="custom-file-label" for="customFile">Video</label>
            </div>
        </div>
        <div class="col-2">
            <form method="post" action="{% url 'downloadexcel' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <button type="submit" class="btn button">Back</button>
            </form>
        </div>
        <div class="col-2">
            <form method="post" action="{% url 'videoUpload' %}">
                {% csrf_token %}

                <button type="submit" name="send_video" class="btn button btn-primary">
                    Download
                </button>
            </form>

        </div>
    </div>
</div>
</body>
</html>
